html {
    max-width: 1200px;
    background-color: white;
}

.container {
    margin: 20px;
    border: 20px solid black;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: space-arround;
    border-bottom: 20px solid black;
    padding: 10px solid grey;
    overflow: hidden;
}

.nav-container > div {
    display: flex;
    background-color: rgb(226, 96, 96);
    border: 15px solid rgb(47, 50, 89);
    padding: 10px;
    align-items: center;
}

.ban-container {
    flex-direction: row;
}

.nav {
    flex: 5;
    overflow: hidden;
}

.logo {
    flex: 2;
}

.social {
    flex: 2;
}

.banner {
    display: flex;
    background-color: gold;
    border: 20px solid rgb(241, 169, 34);
    padding: 8px;
}

.content-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: 20px solid black;
}

.article-container {
    display: flex;
    flex-direction: column;
    border-right: 20px solid rgb(0, 0, 0);
    width: 70%;
}

.articles {
    display: flex;
    flex-wrap: wrap;
}

.article {
    flex: 1 1;
    background-color: rgb(58, 58, 198);
    padding: 10px;
    border: 20px solid black;
}

.navegacion {
    background-color: rgb(89, 131, 231);
    padding: 10px;
    border: 20px solid black;
    width: 30%;
}

.pie {
    background-color: rgb(248, 237, 82);
    display: flex;
    padding: 10px;
}

.pub-container {
    background-color: rgb(236, 94, 94);
    width: 25%;
    padding: 10px;
}

.pub {
    background-color: yellow;
    border: 10px solid yellow;
    display: flex;
}