html {
    max-width: 1200px;
    background-color: white;
}

.container {
    margin: 20px;
    border: 20px solid black;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: space-arround;
    border-bottom: 20px solid black;
    padding: 10px solid grey;
    overflow: hidden;
}

.nav-container > div {
    display: flex;
    background-color: rgb(226, 96, 96);
    border: 15px solid rgb(47, 50, 89);
    padding: 10px;
    align-items: center;
}

.ban-container {
    display: flex;
}

.nav {
    flex: 2;
    overflow: hidden;
}

.logo {
    flex: 1;
}

.social {
    flex: 1;
}

.banner {
    background-color: gold;
    border: 20px solid orange;
}