html {
    max-width: 1200px;
    background-color: white;
}

.container {
    margin: 20px;
    border: 20px solid black;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: space-arround;
    border-bottom: 20px solid black;
    padding: 10px solid grey;
    overflow: hidden;
}

.nav-container > div {
    display: flex;
    background-color: rgb(240, 99, 99);
    border: 15px solid rgb(47, 50, 91);
    padding: 10px;
    align-items: center;
}

.ban-container {
    flex-direction: row;
}

.nav {
    flex: 3;
    overflow: hidden;
}

.logo {
    flex: 1;
}

.social {
    flex: 1;
}

.banner {
    display: flex;
    font-weight: bold;
    padding-left: 10px;
    background-color: gold;
    border: 20px solid rgb(255, 132, 0);
}

.content-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: 20px solid black;
}

.article-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-right: 20px solid black;
    width: 70%;
}

.articles {
    display: flex;
    flex-wrap: wrap;
}

.article {
    flex: 1 calc(50% - 60px);
    background-color: rgb(66, 66, 225);
    padding: 10px;
    border: 20px solid rgb(97, 91, 134);
}

.navegacion {
    background-color: rgb(90, 172, 213);
    padding: 10px;
    border: 20px solid rgb(97, 91, 134);
    width: 100%;
}

.pub-container {
    background-color: rgb(236, 94, 94);
    width: 30%;
    padding: 10px;
}

.pub {
    background-color: yellow;
    border: 10px solid yellow;
    padding: 10px;
    margin-bottom: 10px;
}

.pie {
    background-color: rgb(248, 237, 82);
    display: flex;
    padding: 10px;
}